html,
body
	overflow-x: hidden

.collection article
	background-color: $color-space-blue
	text-align: center
	padding: 5rem
	border-radius: 5px
	a
		color: var(--bs-light)

.navbar-side
	background-color: var(--bs-light)
	padding-top: 1rem

	.navbar-title
		&:hover
			color: inherit

	li
		padding-top: 2px
		padding-bottom: 2px
		padding-left: 10px
		padding-right: 10px

		>a
			font-weight: 400
			color: lighten(rgb(52, 58, 64), 20%)
			&:hover
				color: var(--bs-dark)

		&.active
			background: rgba(0, 0, 0, 0.1) none repeat scroll 0% 0%
			border-radius: 4px
			>a
				font-weight: 500
				&:hover
				color: inherit

	.brand
		font-size: 32px
		padding-top: 12px

.main-content
	background-color: var(--bs-white)

	.btn-edit
		&:hover
			color: var(--bs-white) !important

.content-bar
	padding-top: 2rem
	margin-bottom: -3rem

#wiki-footer
	color: var(--bs-dark)
	padding-bottom: 3rem
	margin-top: 3rem
	font-size: 16px

	img
		height: 64px
		width: auto
		padding-right: 15px
		filter: grayscale(1) brightness(1.5) contrast(0.8)

	h2 > span
		font-size: 20px
		margin-top: 3px

	h3
		font-size: 20px

	ul
		list-style: none
		padding-left: 0

	ul.socials
		padding-left: 79px

		> li
			display: inline
			margin-right: 1rem

			> a
				font-size: 24px

	ul > li > a,
	.contact a
		color: var(--bs-light) !important
		text-decoration: none
		font-weight: normal

		&:hover
			color: $color-space-yellow-variant !important
