<!DOCTYPE html>
<html lang="{{ page.lang | default: nl }}">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="row" style="height: 100%">
      <div class="col-2 navbar-side">
        {% include navbar.html %}
      </div>
      <div class="col-10 main-content">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            {% include header.html %}
            {% if page.html != true %}
                <section class="content-bar">
                  <div class="container">
                    <div class="d-flex justify-content-between">
                      <div class="content-bar-breadcrumbs">
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/{{ page.collection }}">{{ page.collection | capitalize }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                          </ol>
                        </nav>
                      </div>
                      <div class="content-bar-actions">
                        <a class="btn btn-outline-dark btn-sm btn-edit float-end"
                           href="{{ site.repository | replace: "%s", "blob" }}/{{ page.path }}"><i class="bi bi-pencil-fill"></i> Edit</a>
                     </div>
                    </div>
                  </div>
                </section>
                <section class="page-section page-markdown">
                    <div class="container">
                        <h1>
                            {{ page.title }}
                        </h1>
                        {% if page.wip %}
                        <div class="alert alert-warning d-flex align-items-center" role="alert" style="margin-top:5rem">
                          <i class="bi bi-exclamation-triangle-fill me-2" style="font-size:42px"></i>
                          <div>
                            Deze pagina is nog in aanbouw. Suggesties? Klik op de
                            edit knop hier boven om deze pagina te verbeteren.
                          </div>
                        </div>
                        {% endif %}
                        {{ content }}
                    </div>
                </section>
            {% else %}
                {{ content }}
            {% endif %}
            {% include comments.html %}
            {% include footer.html %}
          </div>
          <div class="col-lg-2">
            <!--// TODO: table of contents//-->
          </div>
        </div>
      </div>
    </div>
    {% include scripts.html %}
  </body>
</html>
